
html, body{
    background-color: black;
    //overflow: hidden !important;

}

header{
    position: fixed;
    z-index: 1000000;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    margin: 0rem 1rem;
}

label{
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 0% 7.5%;
}



.logo{
    padding: 25px;
    width: 180px;
}

