
  html, body{
    overflow: hidden;
  }
  .carousel-container {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-slide {
    flex: 0 0 100%;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  @keyframes carouselAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  .img-carousel{
    width: 100%;
  }