<ngb-carousel   class="body-carousel">
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="carousel-wrapper">
      <img src="{{image.name}}" alt="image.who" class="img-carousel">
      <div class="info-planets">
        <div class="center-div column float-name">
          <h2>{{image.who}}</h2>
          <h1>{{image.info}}</h1>
          <button class="button-global" routerLink="/infoPlanets">
            Read more
          </button>
        </div> 
      </div>
    </div>
  </ng-template>
</ngb-carousel>